@import url(<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
}




.wrapper {
    width: 100%;
}

.banner_and_search {
    background: #00bcd4;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: ;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.job_post_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 30px 70px;
    gap: 20px;
}


.job_post_section a {
    text-decoration: none;
}

.job_container {
    border: solid black 1px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.2s ease;
    gap: 20px;
    min-width: 300px;
    max-width: 400px;
}

.job_container h3,
.job_container p {
    color: #000;
}

.button {
    text-decoration: underline;
    color: blue;
    font-size: 18px;
}

.job_container:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    cursor: pointer;
}

.footer {
    background-color: #1f1f1f;
    color: #ddd;
    padding: 40px 0 20px;
    font-family: 'Poppins', sans-serif;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

#footer-col {
    flex: 0 0 20%;
}

.footer-about h2,
.footer-link h3 {
    color: #fff;
    margin-bottom: 15px;
}

.footer- p {
    color: #ccc;
    font-size: 14px;
    line-height: 1.6;
}

.footer-link ul {
    list-style: none;
    padding: 0;
}

.footer- ul li {
    margin: 8px 0;
}

.footer-link ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer-link ul li a:hover {
    color: #00bcd4;
}

.footer-contact p ion-icon {
    color: #00bcd4;
    margin-right: 8px;
    vertical-align: middle;
}