@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #00bcd4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.signup_box,
.login_box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    border-radius: 30px;
    padding: 10px;
    width: 70%;
    max-width: 530px;
    justify-content: center;
}

.signup_box h2,
.login_box h2 {
    text-align: center;
}

.info {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    margin: 10px 0;
}

.info label {
    color: black;
    text-align: left;
    font-size: 16px;
}

.info label:hover {
    cursor: pointer;
}

.info input {
    border-radius: 10px;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 14px 45px 14px 14px;
    margin: 15px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/*nút hiện mật khẩu*/
.info .toggle-password {
    position: absolute;
    right: 30px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.remember_chk {
    display: flex;
    width: 100%;
    font-size: 16px;
    margin: 10px 0 0 0;
    align-items: center;
    transform: translateX(10px);
}

.remember_chk label,
.chk_rmb {
    cursor: pointer;
}

.chk_rmb {
    padding-left: 10px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    accent-color: #00bcd4;
}

.signup_btn,
.login_btn {
    text-align: center;
}

.signup_btn input,
.login_btn input {
    width: 95%;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    transition: color 0.3s ease;
    margin: 30px 0;
    background-color: #00bcd4;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.signup_btn input:hover {
    transform: scale(1.05);

}

.login,
.sign-up {
    text-align: center;
}

.login span {
    color: #0000ff;
}

/*phần validate*/
.error-message {
    color: red;
    font-size: 12px;
    font-style: italic;
    padding-left: 20px;

}