
@import url(<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 5px 60px;
}

.logo h2 {
    font-weight: bold;
    color: #fff;
}

.navi ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navi ul li {
    position: relative;
    margin-left: 30px;
    
}
.navi ul li a:hover{
    color: #0961ee;
}

.navi ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0px;
}


.navi a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -5px;
    background: cyan;
    transform: scaleX(0);
    border-radius: 5px;
    transition: transform.5s;
    
}
a:hover:after{
        transform: scaleX(1);
        cursor: pointer;
}

body{
    min-height: 100vh;
    background-image: url(../Sign_up/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box h2{
    text-align: center;
    margin-bottom: 30px;
}

.login_box{
    display: flex;
    flex-direction: column;
    background: rgba(121, 121, 121, 0.2);
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    border-radius: 30px;
    padding: 10px;
    width: 70%;
    max-width: 400px;
    justify-content: center;
}
.lg_info{
    display: flex;
    font-size: 16px;
    margin-bottom: 22px;
}

.lg_info label{
    color: black;
    text-align: left;
    width: 120px;
    font-size: 16px;
}

.lg_info input{
    border-radius:10px;
    border: 0;
    width: 250px;
    height: 30px;
    padding: 14px 45px 14px 14px;
}

.login_btn {
    text-align: center;
    transition: 0.3s;
}
.login_btn input{
    width: 70%;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.login_btn input:hover{
    background-color:#66bcf6 ;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.Sign_up_btn{
    text-decoration: none;
    color: rgb(0, 98, 255)
}

.Sign_up{
    text-align: center;
    margin-top: 15px;
}

.remember_chk{
    margin-bottom: 15px;
    cursor: pointer;
}

