* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f3f3f3;
    padding-top: 60px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 5px 60px;
    position: fixed;
    top: 0;            /* Giữ header ở trên cùng */
    left: 0;           /* Căn từ mép trái */
    width: 100%;       /* Trải rộng toàn màn hình */
    z-index: 1000;     /* Đè lên các phần tử khác khi cuộn */
}
    /*icon*/
.icon{
    vertical-align: middle;
    margin-right: 5px;
}
.logo h2 {
    color: #fff;
    font-weight: 600;
}


nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px 40px;
    background: #222;
}

.navi li {
    position: relative;
}

.navi a {
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    display: block;
}

.navi a:hover {
    color: #00bcd4;
    border-radius: 4px;
}

/*menu cấp 2*/
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    width: 100%;
    min-width: 250px;
}

.submenu li a {
    padding: 8px 20px;
}


.submenu li a:hover {
    background: #555;
}


.navi li:hover>.submenu {
    display: block;
}

.account-name-and-email{
    color: #fff;
    white-space: pre-line;
    padding-left: 20px;
}

.wrapper {
    width: 100%;
}
    /*search section*/
.banner_and_search {
    background: #00bcd4;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.banner {
    text-align: center;
    color: white;
}

.banner h1 {
    font-size: 32px;
    font-weight: 600;
}

.banner p {
    font-size: 16px;
}


.search {
    background: #f0f0f0;
    border-radius: 12px;
    width: 80%;
    max-width: 700px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 15px;
}


.search_job {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 12px;
    border-radius: 8px 0 0 8px;
    ;
}

.search_bar button {
    background: #0073e6;
    color: white;
    border: none;
    padding: 16px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 8px 8px 0;
}

.search_bar button:hover {
    background: #005bb5;
}

/*ô filter tìm kiếm*/
.advanced_search .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding-left: 10px;
}

.advanced_search select {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 16px;
    background: #fff;

}

/*phần job post*/
.post-section{
    display: flex;
    width: 100%;
    justify-content: center;
}
.job_post_section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px 50px;
    gap: 50px;
    justify-content: flex-start;
    max-width: 1600px;
}

.job_container{
    display: flex;
    min-width: 300px;
    max-width: 500px;
    border: 1px solid #000;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.2s ease;
    background-color: #ffffff;
    font-size: 14px;
}
.company_logo{
    width: 120px;
    height: 120px;
    border: 1px solid rgb(173, 175, 0);
    padding: 5px;
}
.company_logo img{
    width: 100%;
    height: 100%;
}
.job_container:hover{
    border: 1px solid #0060c0b7;
    color: rgb(173, 175, 0);
}

/*nút xem thêm post*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.pagination button {
    border-radius: 50px;
    width: 20px;
    height: 30px;
    margin: 0 20px;
}

.pagination button:hover{
    background-color: #a4a4a4b1;
}

/*footer*/
.footer {
    background-color: #1f1f1f;
    color: #ddd;
    padding: 40px 0 20px;
    font-family: 'Poppins', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

#footer-col {
    flex: 0 0 25%;
}

.footer-about h2,
.footer-link h3 {
    color: #fff;
    margin-bottom: 15px;
}

.footer- p {
    color: #ccc;
    font-size: 14px;
    line-height: 1.6;
}

.footer-link ul {
    list-style: none;
    padding: 0;
}

.footer- ul li {
    margin: 8px 0;
}

.footer-link ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer-link ul li a:hover {
    color: #00bcd4;
}

.footer-contact p ion-icon {
    color: #00bcd4;
    margin-right: 8px;
    vertical-align: middle;
}