* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #f3f3f3;
	padding-top: 20px;
}

.ui-w-80 {
	width: 80px !important;
	height: auto;
}

.btn-default {
	border-color: rgba(24, 28, 33, 0.1);
	background: rgba(0, 0, 0, 0);
	color: #4e5155;
}

label.btn {
	margin-bottom: 0;
}

.btn-outline-primary {
	border-color: #26b4ff;
	background: transparent;
	color: #26b4ff;
}

.btn {
	cursor: pointer;
}

.display-info {
	display: flex;
	gap: 25%;
}

.text-light {
	color: #babbbc !important;
}

.btn-facebook {
	border-color: rgba(0, 0, 0, 0);
	background: #3b5998;
	color: #fff;
}

.btn-instagram {
	border-color: rgba(0, 0, 0, 0);
	background: #000;
	color: #fff;
}

.card {
	background-clip: padding-box;
	box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
	overflow: hidden;
}

.account-settings-fileinput {
	position: absolute;
	visibility: hidden;
	width: 1px;
	height: 1px;
	opacity: 0;
}

.account-settings-links .list-group-item.active {
	font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
	background: transparent !important;
}

.account-settings-multiselect ~ .select2-container {
	width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
	padding: 0.85rem 1.5rem;
	border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
	color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
	padding: 0.85rem 1.5rem;
	border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
	color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
	padding: 0.85rem 1.5rem;
	border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
	color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
	color: #4e5155 !important;
}

.light-style .account-settings-links .list-group-item {
	padding: 0.85rem 1.5rem;
	border-color: rgba(24, 28, 33, 0.03) !important;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #222;
	padding: 5px 60px;
	position: fixed;
	top: 0; /* Giữ header ở trên cùng */
	left: 0; /* Căn từ mép trái */
	width: 100%; /* Trải rộng toàn màn hình */
	z-index: 1000; /* Đè lên các phần tử khác khi cuộn */
    width: 100%;
}
header h2 {
	margin-top: 5px;
}
header h2 a {
	text-decoration: none;
	color: #fff;
}
h2 a:hover {
	text-decoration: none;
	color: #fff;
}
.icon{
    vertical-align: middle;
    margin-right: 5px;
}
.logo h2 {
	font-weight: 600;
	color: #fff;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 10px 40px;
	background: #222;
}

.navi li {
	position: relative;
	margin-right: 20px;
}

.navi a {
	color: #fff;
	text-decoration: none;
	padding: 6px 10px;
	display: block;
}

.navi a:hover {
	color: #00bcd4;
	border-radius: 4px;
    text-decoration: none;
}

nav ul li a:visited {
	text-decoration: none;
}

.submenu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #333;
	list-style: none;
	margin: 0;
	padding: 0;
	border-radius: 4px;
    width: 100%;
	min-width: 250px;
}

.submenu li a {
	padding: 8px 12px;
}

.submenu li a:hover {
	background: #4a5150;
}

.navi li:hover > .submenu {
	display: block;
}
.account-name-and-email{
    color: #fff;
    white-space: pre-line;
    padding-left: 20px;
}
