* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	margin: 0;
	background: #f4f6f8;
}

/*header*/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #1f2937;
	color: white;
	padding: 5px 60px;
	position: fixed;
	top: 0;
	/* Giữ header ở trên cùng */
	left: 0;
	/* Căn từ mép trái */
	width: 100%;
	/* Trải rộng toàn màn hình */
	z-index: 1000;
	/* Đè lên các phần tử khác khi cuộn */
}

/* Layout */
.dashboard-container {
	display: flex;
	height: 100vh;
	margin-top: 80px;
}

/* Sidebar */
.sidebar {
	width: 240px;
	background: #ffffff;
	color: #000000;
	padding: 20px;
}

.sidebar h2 {
	text-align: center;
	margin-bottom: 30px;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar li {
	padding: 12px 15px;
	margin-bottom: 10px;
	background: #fffefe;
	border: rgb(205, 205, 205) 1px solid;
	border-radius: 6px;
	cursor: pointer;
	transition: background 0.2s;
}

.sidebar li:hover {
	background: #a8c3e9;
}

/* Main */
.main-content {
	flex: 1;
	padding: 40px;
}

.main-content h2 {
	margin-bottom: 50px;
}

.content-section {
	display: block;
}

.hidden {
	display: none ;
}

/* Form */
form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 300px;
}

form input {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 7px;
}

/*phần validate*/
.error-message {
	color: red;
	font-size: 12px;
	font-style: italic;
}

.btnSignUp {
	background: #2563eb;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	width: 200px;
	margin: 20px 0 0 650px;
}

.btnSignUp:hover {
	background: #1d4ed8;
}



/* Table */
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th,
td {
	border: 1px solid #ddd;
	padding: 10px;
}

td:last-child {
	text-align: center;
	vertical-align: middle;
}

th {
	background: #e5e7eb;
}

.confirm-modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.confirm-box {
    background: #fff;
    padding: 22px;
    width: 350px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    animation: all 0.2s ease;
}

.confirm-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn-yes, .btn-no {
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
}

.btn-yes {
    background: #e74c3c;
}

.btn-no {
    background: #7f8c8d;
}



/* Stats */
.stats-container {
	display: flex;
	gap: 20px;
	margin-top: 20px;
}

.stat-card {
	flex: 1;
	background: white;
	text-align: center;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.2s;
}

.stat-card:hover {
	transform: scale(1.05);
	background: #f1f2f3;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.form-control {
		transition: none;
	}
}

.form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}

.form-control:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #495057;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-control::-moz-placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-control::-ms-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-control::placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
	background-color: #e9ecef;
	opacity: 1;
}

input[type="date"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control,
input[type="time"].form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select.form-control:focus::-ms-value {
	color: #495057;
	background-color: #fff;
}

.form-control-file,
.form-control-range {
	display: block;
	width: 100%;
}

.display-info {
	display: flex;
	gap: 50%;
}

.form-group-general {
	margin-bottom: 1rem;
}

.form-group-general input {
	margin-top: 10px;
	width: 350px;
}